#avatar {
  display: flex;
}

#avatar img,
.miniAvatar {
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#avatar img {
  height: 250px;
  width: 250px;
  
}

.miniAvatar {
  height: 100px;
  width: 100px;
}

span.span {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  font-size: 24px;
}


img.miniAvatar{
  margin-left: 1rem;
}
#name h2{
  text-align: center;
}
#listado-de-asistentes{
  margin-left: 1rem;
}