.AvatarContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


#avatar {
  display: block;
  flex-basis:100%;
  display: flex;
}

#name h2{
  flex-basis: 100%;
  text-align: center;

}

#avatar img,
.miniAvatar {
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#avatar img {
  height: 250px;
  width: 250px;
  margin-top: 3rem;
}

.miniAvatar {
  height: 100px;
  width: 100px;
}

img.miniAvatar {
  margin-left: 1rem;
}
#name h2 {
  text-align: center;
}
#listado-de-asistentes {
  margin-left: 1rem;
}

