/* -------------
Sidebar
----------------*/
.barra {
  width: 13em;
  margin-left: 2.2rem;
}

.sidebar-nav {
  width: 15em;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
}
.sidebar li {
  margin-left: 0;
  padding-left: 0;
  min-width: 13em;
  display: inline-block;
  width: 100%;
}

.sidebar a {
  color: var(--dark);
  font-size: 0.75em;
  padding: 1.05em 1em;
  display: block;
  font-weight: bold;
}
.sidebar a:hover {
  color: var(--dark);
  margin-left: 0.5rem;
}

.sidebar a img {
  padding-right: 0.5rem;
  height: 1.5rem;
}
