.h1 {
  text-align: center;
}

.label {
  font-weight: bold;
padding: 1rem;
  color:blue
}
.hangout input {
  width: 600px;
  align-items: center;
}
.hangout {
  padding: 2rem;
  flex-basis: 100%;
}
.textarea {
  width: 600px;
  height: 130px;
  border: 1px solid black;
  margin-top: 1rem;
}
.boton {
  margin: auto;
  
}
label.labeldescripcion {
  margin-top: 3rem;
  font-weight: bold;
  color: var(--ko);
}

.hangoutcreate {
  display: flex;
  flex-wrap: wrap;
}
