.h1 {
  text-align: center;
}

.label {
  font-weight: bold;
padding: 3rem;
color: var(--dark)
}
.hangout input {
  width: 600px;
  align-items: center;
  border: none;
  border-bottom: blue 0.5px solid;
  

}

#textarea {
  width: 600px;
  height: 130px;
}
