.h1 {
  text-align: center;
}

.label {
  font-weight: bold;
padding: 1rem;
  color:blue
}
.hangout input {
  width: 600px;
  align-items: center;
}
.hangout {
  padding: 2rem;
  flex-basis: 100%;
}
#textarea {
  width: 600px;
  height: 130px;
  border: 2px solid black;
  margin-top: 1rem;
}

.hangoutcreate {
  display: flex;
  flex-wrap: wrap;
}
