.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--bright);
  padding: 1rem;
  margin-top: 40px;
}
h2.name {
  color: var(--bright);
}

a img {
  height: 40px;
}

div.logos {
  display: inline-block;
}



li {
  padding-top: 1rem;
}
.logos ul li {
  padding-left: 3.6rem;
}
ul.email {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 2rem;
  font-size: 20px;
 
}
