.cards {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

div.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 900px;
  height: 500px;
  background: grey;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  margin: 1rem 1rem 1rem 1rem;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
#hangoutCards {
  display: flex;
  flex-direction: row;
}

#hangout-title {
  height: 20%;
}

div.smallCards {
  width: 100px;
  height: 150px;
}

#hangout-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hangout-info {
  height: 100%;
  background-color: var(--bright);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#hangout-info div {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
