header {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  color: var(--bright);
  justify-content: space-between;
  width: 100%;
}

header img {
  height: 50px;
}

header a {
  color: var(--bright);
}
