.principal {
  color: black;
}

.up h1 {
  line-height: 40pt;
  display: block;
  margin: 1rem 3rem 0 3rem;
  color: white;
  text-align: left;
}

.up {
  height: 100vh;
  background-image: url("../img/shawn-ang-FRuj-ST3wZE-unsplash.jpg");
  background-position: 0% 80%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.up button {
  margin: 0 0 1rem 1rem;
}

.medium {
  height: 30vh;
  background-color: grey;
}
.medium ul {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.down {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.down ul {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

