.navMenu {
  background-color: var(--primary);
  width: 100%;
}

.navMenu img {
  height: 30px;
  width: 30px;
}
.navMenu label {
  color: var(--dark);
}

.navMenu ul {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
}

.navMenu ul li a {
  display: flex;
  flex-direction: column;
}

.navMenu label {
  display: block;
  text-align: center;
}

.navMenu img {
  padding-top: var(--space-sm);
  display: block;
  margin: auto;
}
