#profile img {
  padding-top: 0.5rem;
}

#profile h2 {
  margin-top: 4rem;
  color: var(--dark);
}

#profile button {
  margin: 1rem;
}

#profile .infoperfil li {
  padding: 1rem;
  color: var(--dark);
  display: flex;
  width: auto;
}
#profile div#name {
  display: flex;
  align-items: center;
  padding: 2rem;
}

#profile span {
  text-align: justify;
}
#profile #enlacesRRSS {
  list-style: none;
  align-items: flex-start;
  flex-direction: row;
  font-size: 20px;
  display: flex;
}
#profile #enlacesRRSS li {
  margin: 3rem;
}
