#profile img {
  padding-top: .5rem;
  
}

#profile h2 {
  margin-top: .5rem;
  color: var(--dark);
}

#profile button {
  margin: 1rem;
  
}

#profile .infoperfil li {
  padding: 1rem;
  color: var(--dark);
  
 
}
#profile#name {
  display: flex;
  align-items: center;
  padding: 2rem;
 
}


div#enlacesRRSS {
  font-size: 30px;
  display: flex;
  list-style: none;
}
#enlacesRRSS img {
  height: 60px;
}
#profile #enlacesRRSS li {
  margin: 3rem;
}
.infoperfil{
  text-align: center;
  padding: 1rem;
  margin-top: 100px !important;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.226);
  margin-bottom: 3rem;
  
  
}
.infoperfil li{
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  
}
.infoperfil label{
  font-weight: bold;
  
}
.enlaces{
  text-align: left;
  margin-left: 2.8rem;
}

