.yourHangouts h1 {
  text-align: center;
  margin: 1rem;
  border-bottom: blue 1px solid;
  font-size: 40px;

}
.yourHangouts {
  display: flex;
  flex-direction: column;
}


.yourHangouts section h2 {
  text-align: center;
  color: var(--dark);
  
}

.yourHangouts ul {
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 3rem;
  margin: 1rem;
}
.yourHangouts li {
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
